* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
}


/*NAVBAR STARTS FROM HERE*/
#navbar {
    width: 100vw;
    height: Hug (112px)px;
    padding: 1vw 0vw 1vw 5vw;
    gap: 10vw;
    background: #FFF1E6;
    display: flex;
    position: fixed;
    z-index: 9;
}

#logo {
    width: 10vw;
}

#navtop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}


/*LIST*/
#navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6vw;  
}

#navlinks li {
    list-style: none;
}

#navlinks li a {
    text-decoration: none;
    color: #000;
}

.line {
    color: #000;
}
/*LIST ENDS*/



/*BUTTONS*/
#buttons {
    display: flex;
    gap: 1vw;
}

#book-appointment, #help {
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1.2vw;
    border: none;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

#book-appointment {
    background: #F8943F;
    color: white;
    padding-left: 1.5vw;
    font-size: 1.07vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
    
}

#pagelike{
    position: fixed;
    z-index: 1;
}

#pagelikeborder{
    padding-top: 0.25vw;
    padding-left: 0.25vw;
    position: relative;
    z-index: 9;
    position: fixed;
}

#bookmark{
    position: relative;
    z-index: 9;
    padding-bottom: 1.3vw;
    left: 0.7vw;
    top: 0.2vw;
}

#bookapptext{
    position: relative;
    right: 1.3vw;
}

#bookmarkborder{
    position: relative;
    z-index: 9;
    padding-bottom: 1.25vw;
    left: -0.2vw;
    top: 0.24vw;
}

.brownline{
    position: relative;
    z-index: 9;
    right: 1.4vw;
    bottom: 0.6vw;
}
.brownline2{
    width: 0.9vw;
    position: relative;
    z-index: 9;
    right: 2.79vw;
    bottom: 0.45vw;
}

.brownline3{
    width: 0.7vw;
    position: relative;
    z-index: 9;
    right: 3.99vw;
    bottom: 0.3vw;
}

#help {
    position: relative;
    background: #FFEFE2;
    color: #F8943F;
    border: 0.2vw solid #F8943F;
    height: 4vw;
    width: 8vw;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
}

#help img{
    height: 1.5vw;

}
/*BUTTON ENDS*/
/*NAVBAR ENDS*/


/*MAKING NAVBAR RESPONSIVE*/
@media (max-width:600px){
    #navbar{
        width: 100vw;
    }
    #navtop{
        font-size: 1.5vw;
        white-space: nowrap;
    }
    #logo{
        padding-top: 1vw;
        
    }
    #book-appointment {
        padding-right: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1vw;
        width: 10vw;
        height: 3vw;
    }
    #pagelike{
        width: 0px;
    }
    
    #pagelikeborder{
        width: 0px;
    }
    #bookmark{
        width: 0px;
    }
    #bookapptext{
        width: 0px;
    }
    #bookmarkborder{
        width: 0px;
    }
    .brownline{
        width: 0px;
    }
    .brownline2{
        width: 0px;
    }
    .brownline3{
        width: 0px;
    }
    #help {
        width: 0px;
        height: 0px;
        font-size: 0px;
        border: 0px;
    }
    #help img{
        width: 0px;
    
    }
}

/*LANDING PAGE STARTS*/
.promo {
    background-color:#A3B18A ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vw 10vw 2vw 10vw;
}

.promo-text h1 {
    font-size: 3.2vw;
    color: #303030;
    white-space: nowrap;
}

.promo-text p {
    font-size: 2vw;
    margin-bottom: 1.2vw;
    width: 29vw;
    height: 5vh;
}

#p1{
    font-family: Open Sans;
    font-weight: 500;
    line-height: 3vw;
    text-align: left;
    color: #525252;
}

#p2{
    color: #303030;

}

.buy-now {
    width: 30vw;
    height: 5vw;
    padding: 1vw 4vw;
    background: #F8943F;
    color: white;
    border: none;
    border-radius: 2vw;
    font-size: 2vw;
    cursor: pointer;
}

.promo-image img {
    position: relative;
    height: 30vw;
    bottom: 0vw;
    padding-bottom: 0vw;
    top: 2.25vw;
    width: 30vw;
    z-index: 0;
}
/*LANDING PAGE ENDS*/


/*RESPONSIVENESS IN LANDING PAGE*/
@media (max-width:600px) {
    .promo {
        padding: 20vw 10vw 2vw 10vw;
    }
    
    .promo-text h1 {
        
    }
    
    .promo-text p {
        height: 1vh;
    }
    
    .promo-image img {
        top: 3vw;
    }
}


/*clinic information*/
.clinic-info {
    padding-top: 2.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    height: 10vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

.location{
    display:flex;
    flex-direction: column;
    gap: 1vw;
}

.highlight {
    font-size: 2.5vw;
    color: #f57c00;
}

.ratings {
    display: flex;
    align-items: center;
}

.city-select {
    width: 17vw;
    height: 3vw;
    padding: 0.8vw 4vw;
    border-radius: 2vw;
    font-size: 1vw;
    
}

.locate-button {
    font-size: 1vw;
    background-color: #f57c00;
    color: white;
    border: none;
    width: 17vw;
    height: 3vw;
    padding: 1vw 2vw;
    border-radius: 2vw;
    cursor: pointer;
}

.locate-button:hover {
    background-color: #e66a00;
}

.clinic-details p{
    font-size: 2vw;
}

#section2{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

/*Responsiveness of clinic-info*/
@media (max-width:600px) {
    .clinic-info {
        padding-top: 10vw;
        white-space: nowrap;
   }
    
    .location{
        display:flex;
        flex-direction: column;
        gap: 1vw;
    }
    
    .highlight {
        font-size: 2.5vw;
        color: #f57c00;
    }
    
   .google-rating img{
    height: 7vw;
    padding-right: 13vw;

   }
    .city-select {
        font-size: 0.5vw;
    }

    .clinic-details p{
        font-size: 1vw;
    }
    
}