* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
}

#navbar {
    width: 100%;
    height: 80px;
    padding: 16px 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF1E6;
}

#logo {
    width: 150px;
}

#navtop {
    display: flex;
    align-items: center;
    gap: 30px;
}

#navlinks {
    display: flex;
    align-items: center;
    gap: 15px;
}

#navlinks li {
    list-style: none;
}

#navlinks li a {
    text-decoration: none;
    color: #000;
    padding: 10px 0;
}

.line {
    color: #000;
}

#buttons {
    display: flex;
    gap: 15px;
}

#book-appointment, #help {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#book-appointment {
    background: #F8943F;
    color: white;
}

#help {
    background: #FFEFE2;
    color: #F8943F;
    border: 2px solid #F8943F;
}

main {
    background: #d9decf;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #a3b18a;
    padding: 50px;
    padding-bottom: 0px;
    border-radius: 15px;
}

.promo-text {
    max-width: 50%;
}

.promo-text h1 {
    width: Hug (985px)px;
height: Hug (51px)px;
gap: 60px;
opacity: 0px;

    white-space: nowrap;
}

.promo-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}

.buy-now {
    padding: 15px 30px;
    background: #F8943F;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
}

.promo-image img {
  
height: 500px;
top: 115px;
left: 1135px;
gap: 0px;
opacity: 0px;


}


